<% include ../partials/header%>

<div class="intro-section single-cover" id="home-section">
  <div class="slide-1 " style="background-image: url('/lib/images/img_6.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row justify-content-center align-items-center text-center">
            <div class="col-lg-6">
              <h1 data-aos="fade-up" data-aos-delay="0">&ldquo; First, arouse in the other person an eager want. He who can do this cannot walks a lonely way. &rdquo;</h1>
              <h5 data-aos="fade-up" data-aos-delay="100">
                <%= campground.name%>
              </h5>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
  <div class="container" style="margin-top: 5%";>
    <div class="row">
      <div class="col-md-3">
        <p class="lead">YelpCamp</p>
        <div class="list-group">
          <li class="list-group-item active">Info 1</li>
          <li class="list-group-item">Info 2</li>
          <li class="list-group-item">Info 3</li>
        </div>
      </div>
      <div class="col-md-9">
        <div class="img-thumbnail">
          <img class="img-fluid" src="<%= campground.img %>">
          <div class="caption">
            <h4 class="float-right">$9.00/night</h4>
            <a href="#"><h4><%= campground.name%></h4></a>
            <p> <%= campground.description%></p>
            <p>
              <em>Submitted by <%= campground.author.username%></em>
            </p>
            <% if (currentUser && campground.author.id.equals(currentUser._id)) {%>
                  <a class="btn btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                  <form id="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                  </form>
            <% }%>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body">
            <div class="card-text text-right">
              <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
            </div>
            <hr>
            <% campground.comments.forEach(function (comment) { %>
              <div class="row">
                <div class="col-md-12">
                  <strong><%= comment.author.username %></strong>
                  <span class="float-right">10 days ago</span>
                  <p>
                     <%= comment.text %>
                  </p>
                  <% if (currentUser && comment.author.id.equals(currentUser._id)) {%>
                      <a class="btn btn-warning" href="/campgrounds/<%= campground._id%>/comments/<%=comment._id %>/edit">Edit</a>
                      <form id="delete-form" action="/campgrounds/<%= campground._id%>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                      </form>
                  <% }%>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>

    </div>
  </div>


<% include ../partials/footer%>
